<h1>Eat-Da-Burger!</h1>

<img id="burger" src="./img/burger.png" />

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <input class="burgerInput" type="text" placeholder="Enter the burger in your mind...">
        </div>
    </div>
    <br>
    {{#each burgers}}
        {{#if ATE}}
            {{> burgers/burgers state=true}}
        {{else}}
            {{> burgers/burgers state=false}}
        {{/if}}
    {{/each}}}
</div>